<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.week6">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nana"
        android:label="6_7주차"
        android:logo="@drawable/nana"
        android:supportsRtl="true"
        android:theme="@style/Theme.Week6"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".mission10Fragment3"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".mission10Fragment2"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".mission10Fragment1"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".mission10MainFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".mission8"
            android:exported="false" />
        <activity
            android:name=".mission9Custom"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".mission7"
            android:exported="false" />
        <activity
            android:name=".mission8Sales"
            android:exported="false" />
        <activity
            android:name=".mission8Md"
            android:exported="false" />
        <activity
            android:name=".mission8Login"
            android:exported="false" />
        <activity
            android:name=".mission8Custom"
            android:exported="false" />
        <activity
            android:name=".mission6"
            android:exported="false" />
        <activity
            android:name=".mission7_2"
            android:exported="false" />
        <activity
            android:name=".project7_3"
            android:exported="false" />
        <activity
            android:name=".project7_2"
            android:exported="false" />
        <activity
            android:name=".project6_3"
            android:exported="false" />
        <activity
            android:name=".mission9"
            android:exported="false" />
        <activity
            android:name=".mission10"
            android:exported="false" />
        <activity
            android:name=".project6_1"
            android:exported="false" />
        <activity
            android:name=".project6_2"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>